<div class="col-lg-10">
    <h3>{{title}}</h3>

    <form #formAdd="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label>Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="team.name" class="form-control" required/>
            <span *ngIf="!name.valid && name.touched">
                    El nombre es obligatorio
            </span>
        </p>
        <p>
            <label>Descripción</label>
            <textarea type="text" name="description" #description="ngModel" [(ngModel)]="team.description" class="form-control" required></textarea>
            <span *ngIf="!description.valid && description.touched">
                    La Descripción es obligatoria
            </span>
        </p>
        <p>
            <label>Año</label>
            <input type="text" name="year" #year="ngModel" [(ngModel)]="team.year" class="form-control" required/>
            <span *ngIf="!year.valid && year.touched">
                    El año es obligatorio
            </span>
        </p>

        <div *ngIf="is_edit && team.image">
            <div class="image_for_edit">
                <img src="{{url + 'get-image.team/' + team.image}}" />
            </div>
        </div>

        <p>
            <label>Imagen del animal</label>
            <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)" />
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success">
    </form>
</div>