<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Enjoy the different FIFA soccer teams in our website</p>

        <p class="btn-toolbar">
            <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/teams']">
          Show Teams
        </a>
            <a class="btn btn-success btn-lg" role="button" [routerLink]="['/admins']">
          Show Admins
        </a>
            <a class="btn btn-warning btn-lg" role="button" [routerLink]="['/contact']">
          Contact us
        </a>
        </p>

    </div>
</div>