<div class="col-lg-4">
    <h3>{{title}}</h3>
    <div class="sidebar-admin" data-example-id="sample-nav-stacked">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['listado']">List</a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['crear']">Create</a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['editar']">Edit</a>
            </li>
        </ul>
    </div>

</div>

<div class="col-lg-8">
    <router-outlet></router-outlet>
</div>